<!DOCTYPE html>
<html lang="pl">

<head>
    <title>Publication uploader</title>
    <meta charset="utf-8">
    <link href="styles/style_new.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cantata+One">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div id="topnav">
        <nav class="navbar navbar-expand-sm bg-success navbar-light navbar-static-top">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('my_publications') }}">My Publications</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('my_files') }}">My Files</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('add_file') }}">Add File</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </nav>
    </div>
    <section class="container mt-4">
        <header>
            <h2>Dodaj publikację</h2>
        </header>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <p class=flashes>
            {{ messages[0] }}
        </p>
        {% endif %}
        {% endwith %}
        <div class="container">
            <form class="row justify-content-center" action={{url_for("publish")}} method="post"
                enctype="multipart/form-data">
                <label for="title" class="required col-2 col-md-3 col-lg-1 mt-3">Tytuł</label>
                <input class="col-9 col-md-7 col-lg-3 form-control mt-2" id="title" type="text" name="title"
                    placeholder="Title" required>

                <label for="author" class="required col-2 col-md-3 col-lg-1 mt-3">Autor</label>
                <input class="col-9 col-md-7 col-lg-3 form-control mt-2" id="author" type="text" name="author"
                    placeholder="Author" required>

                <label for="year" class="required col-2 col-md-3 col-lg-1 mt-3">Rok</label>
                <input class="col-9 col-md-7 col-lg-3 form-control mt-2" id="year" type="text" name="year"
                    placeholder="2000" required>

                <input class="col-8 col-sm-4 mt-2 btn btn-success" id="button-add" type="submit" value="Dodaj" />

            </form>
        </div>
    </section>
    <div class="container mt-4">
        <header>
            <h2>Lista pozycji bibliograficznych</h2>
        </header>

        <div class="container">
            <section id="pozycje_bib">
                <div class="table-responsive">
                    <table class="table" id="tabela">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tytuł</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Rok</th>
                            <th scope="col">Szczegóły</th>
                        </tr>
                        {% for p in data["publications"] %}
                            <tr>
                                <td>{{ p["id"] }}</td>
                                <td>{{ p["title"] }}</td>
                                <td>{{ p["author"] }}</td>
                                <td>{{ p["year"] }}</td>
                                <td><a href=https://localhost:8082/publication/{{ p["id"] }}>LINK</a></td
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </div>
    </div>
    <footer>
        <p class="footer-inline">&copy; 2020 Piotr Rosa proudly powered by <img src="favicon.ico" alt="footer icon"
                title="pr" class="footer-img" /></p>
    </footer>
</body>

</html>